.TodoList {
    /* border-collapse: collapse; */
    border: 0px solid #e1e1e1;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
}

.TodoListContainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Header {
	font-weight: lighter;
	font-size: 4em;
    padding: 0;
    margin: 0 auto;
}

@media (max-width: 400px) {
    .TodoListContainer {
        width: 100%;
        font-size: 0.7em;
    }
}

@media (min-width: 810px) {
    .TodoListContainer {
        width: 60%;
    }
}